::-webkit-scrollbar {
  width: 0;
}

.container_left {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  height: calc(100vh - 81px);
}

.products {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 50px 70px;
  padding: 60px 0;
  max-width: 250px;
}

.cart {
  display: none;
}

@media (min-width: 768px) {
  .products {
    max-width: 570px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart {
    display: block;
  }
}

@media (min-width: 1400px) {
  .products {
    max-width: 890px;
  }
}
